body, html {
  width: 350px;

  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 145px;
  min-width: 200px;
}

* {
  font-family: 'Inter' !important;
  box-sizing: border-box;
}
.bt{opacity:0.8}
.bt:hover{cursor:pointer;color:white!important;background:black!important}
.bt:hover h6{color:white!important}